REACT_APP_API_LOGIN=https://domain.com/default/login
REACT_APP_API_BALANCE=https://domain.com/default/balance
REACT_APP_API_TRANSFER=https://domain.com/default/transfer
REACT_APP_API_TRANSFER_LIST=https://domain.com/default/transferList
